$level-height: 7rem

.app-body
  height: calc(100% - 7rem)

.app-level-container
  min-height: $level-height
  z-index: 10000
  background-color: #FFFFFF
  box-shadow: 0 3px 3px rgba(0,0,0,0.1)
  .level
    font-size: 1.125rem
    height: $level-height
    .level-right
      padding-right: 0
      a
        color: $text
        &:hover
          color: $link
      .level-item
        min-width: 80px
        padding: 8px 16px
        border-bottom: 2px solid transparent
        &.is-active,
        &.router-link-active
          border-color: $link
          a
            color: $link
            cursor: default
    .level-dropdown
      cursor: pointer
      position: relative
      .dropdown-content
        width: 160px
        margin-top: 12px
        .dropdown-item
          font-size: 1.125rem
          &:hover
            color: $link

.app-logo
  cursor: pointer
  .app-logo-image
    height: 56px
    width: 112px
