@import url("//at.alicdn.com/t/font_1240962_sa24wwr9q2.css")

.icon
  &.is-small
    .iconfont
      font-size: $icon-dimensions-small
  &.is-medium
    .iconfont
      font-size: $icon-dimensions-medium
  &.is-large
    .iconfont
      font-size: $icon-dimensions-large
