@charset 'utf-8'
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

// bulma
@import '~bulma/sass/utilities/_all.sass'
@import '~bulma/sass/base/_all.sass'

// bulma modules
@import '~bulma/sass/form/_all'
@import '~bulma/sass/grid/columns'
@import '~bulma/sass/elements/icon'
@import '~bulma/sass/elements/image'
@import '~bulma/sass/elements/other'
@import '~bulma/sass/elements/button'
@import '~bulma/sass/elements/content'
@import '~bulma/sass/elements/container'
@import '~bulma/sass/elements/notification'
@import '~bulma/sass/components/level'
@import '~bulma/sass/components/modal'
@import '~bulma/sass/components/message'
@import '~bulma/sass/components/dropdown'

// modules
@import './helpers.sass'

// about join us
@import '~bulma/sass/components/card'

// news menus list
@import '~bulma/sass/components/panel'

// bulma improve
@import './icon.sass'
@import './container.sass'
@import './dropdown.sass'
@import './notification.sass'

// components
@import '@/components/Hero/style.sass'
@import '@/views/App/style.sass'
@import '@/views/Home/style.sass'
@import '@/views/Hoister/style.sass'
@import '@/views/Products/style.sass'
@import '@/views/Products/RGV/style.sass'
@import '@/views/prices/Hoister/style.sass'
@import '@/share/product-params/style.sass'

html,
body
  overflow-x: auto

#app
  min-width: 960px

.app-container
  padding: 0 1.5rem 0 1.5rem
